.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input {
  width: 300px;
  height: 20px;
  margin: 20px;
}

.result-img {
  margin-top: 20px;
  width: 350px;
}
